* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
}


.main-container {
    margin-top: 24px;
    max-width: 80%;
    width: 100%;
    padding: 0 24px;
}

.main-container h1 {
    width: 100%;
}

.main-container h1 a {
    font-size: 22px;
    text-decoration: none;
    color: lightseagreen;
}
.main-container h1 a:hover {
    color: rgb(29, 134, 129);
    text-decoration: underline;
    transition: color 0.25s ease;
}

.questions-list {
    width: 100%;
    margin-top: 12px;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}

.question {
    display: grid;
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

.question .question-data {
    display: flex;

    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.question .question-info {
    display: flex;
}

.question .question-user-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.question .question-text a {
    font-size: 20px;
}

.question .votes-answers {
    display: grid;

    padding-left: 15px;
    margin: 5px;
    margin-bottom: 10px;
}
.question .votes-answers p{
    width: 120px
}

.question .question-tags {
    display: flex;
    line-height: 2;
    margin-left: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.question-tags .tags-list {
    list-style: none;
}
.question-tags .tags-list li:not(:last-child):after{
    content: ", ";
}
.question-tags .tags-list li {
    display: inline;
}
.question-tags .tags-list li a{
    text-decoration: none;
    color: black;
    
    padding: 2px;
    border-radius: 6px;

    background-color: rgb(225, 225, 225);
}
.question-tags .tags-list li a:hover{
    background-color: lightgray;
}

.pagination {
    display: flex;

    margin-top: 24px;
    max-width: 80%;
    width: 100%;
    padding: 0 24px;

    font-size: 24px;
    gap: 10px;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 0 6px;

    border: 1px solid black;
    border-radius: 6px;
}
.pagination a:hover {
    background-color: rgb(221, 221, 222);
    transition: background-color 0.25s ease;
}


/*На сайтах обычно снизу располагается блок с доп инфой по типу адрес офиса, почтовый адрес, и т.д. и т.п.*/
/*У меня этого всего (очевидно) нет, поэтому просто добавил белый прямоугольник, чтобы можно было помотать страничку и чтобы кнопки нормально было видно*/
/*Хотя для этого будет достаточно установить большой margin-bottom у pages-button*/
.white-block {
    width: 100%;
    height: 200px;
}