* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
}

.main-container {
    margin-top: 24px;
    max-width: 80%;
    width: 100%;
    padding: 0 24px;
}

.main-container h1 {
    width: 100%;
}

.registration-form {
    display: grid;

    gap: 20px;

    width: 100%;
    margin-top: 24px;
}

.registration-form p {
    font-size: 24px;
    min-width: 60px;
}

.login, .email, .password, .password-repeat {
    display: flex;
    width: 100%;
}

.login {
    margin-top: 20px;
    margin-bottom: 5px;
}

.password {
    margin-top: 15px;
    margin-bottom: 5px;
}
.password-repeat {
    margin-bottom: 15px;
}

.login p, .email p, .password p, .password-repeat p {
    width: 220px;
    font-size: 22px;
}

.login input, .email input, .password input, .password-repeat input {
    border: 1px solid gray;
    border-radius: 6px;

    width: 210px;
    height: 34px;
    font-size: 16px;

    padding-left: 5px;
    padding-right: 5px;
}

.login input:focus, .email input:focus, .password input:focus, .password-repeat input:focus  {
    border-color: black;
    outline: none;
}


.registration-button {
    width: 80px;
    margin-left: 220px;
    margin-top: -5px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-size: 22px;
    color: white;

    border: none;
    border-radius: 6px;
    background-color: rgb(179, 164, 4);
}
.registration-button:hover {
    background-color: olive;
    transition: background-color 0.25s ease;
}
.registration-button:active {
    transform: translateY(2px);
    background-color: brown;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

[type="error"] {
    color: red;

    font-size: 20px;
    padding-left: 30px;
}
