* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
}

.main-container {
    margin-top: 24px;
    max-width: 80%;
    width: 100%;
    padding: 0 24px;
}

.main-container h1 {
    width: 100%;
}

.settings-form {
    display: grid;

    gap: 30px;

    width: 100%;
    margin-top: 24px;
}

.settings-form p {
    font-size: 24px;
    min-width: 60px;
}

.settings-form .login, .email, .nickname, .avatar {
    display: flex;
    width: 100%;
}

.avatar-upload-block {
    display: grid;
}

.login p, .email p, .nickname p, .avatar p {
    width: 180px;
}

.login input, .email input, .nickname input, .avatar-upload-block input {
    border: 1px solid gray;
    border-radius: 6px;

    width: 210px;
    height: 34px;
    font-size: 16px;

    padding-left: 5px;
    padding-right: 5px;
}

.avatar .choose-avatar {
    display: flex;

    padding-top: 20px;
    gap: 15px;
}

.login input:focus, .email input:focus, .nickname input:focus, .avatar-upload-block input:focus  {
    border-color: black;
    outline: none;
}

.avatar-upload-block .uploaded-avatar {
    width: 100px;
    height: 100px;
}

.avatar-upload-block .choose-avatar-button {
    font-size: 16px;
    
    border: 4px solid gray;
    border-radius: 6px;

    padding-left: 5px;
    padding-right: 5px;

    background-color: rgba(240, 218, 218, 0.469);
}
.avatar-upload-block .choose-avatar-button:hover {
    background-color: rgba(204, 186, 186, 0.469);
    transition: background-color 0.25s ease;
}
.avatar-upload-block .choose-avatar-button:active {
    transform: translateY(2px);
}


.save-button {
    max-width: 60px;
    margin-left: 180px;
    margin-top: -15px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-size: 22px;
    color: white;

    border: none;
    border-radius: 6px;
    background-color: rgb(179, 164, 4);
}
.save-button:hover {
    background-color: olive;
    transition: background-color 0.25s ease;
}
.save-button:active {
    transform: translateY(2px);
    background-color: brown;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.settings-form [type="error"] {
    color: red;

    margin-left: 260px;
    margin-top: -25px;
}



/* Меняем стандартную форму джанго FileInput на кастомную, т.к. оригинал кривой */
input[type="file"] {
    display: flex;
    border: none;
    width: 400px;
}