* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
}


.main-container {
    margin-top: 24px;
    max-width: 80%;
    padding: 0 24px;
}

.main-container h1 {
    width: 100%;
}

.main-container h1 a {
    font-size: 22px;
    text-decoration: none;
    color: lightseagreen;
}
.main-container h1 a:hover {
    color: rgb(29, 134, 129);
    text-decoration: underline;
    transition: color 0.25s ease;
}

.questions {
    width: 100%;
    margin-top: 12px;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
}

.question {
    display: grid;
    margin-top: 10px;
    border: 1px solid black;
}

.question .question-data {
    display: flex;

    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.question .question-info {
    display: flex;
}

.question .question-user-avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.question .question-text a {
    font-size: 20px;
}

.question .votes-answers {
    display: grid;

    padding-left: 15px;
    margin: 5px;
    margin-bottom: 10px;
}
.question .votes-answers p{
    width: 120px
}

.question .question-tags {
    display: flex;
    line-height: 2;
    margin-left: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.question-tags .tags-list {
    list-style: none;
}
.question-tags .tags-list li:not(:last-child):after{
    content: ", ";
}
.question-tags .tags-list li {
    display: inline;
}
.question-tags .tags-list li a{
    text-decoration: none;
    color: black;
    
    padding: 2px;
    border-radius: 6px;

    background-color: rgb(225, 225, 225);
}
.question-tags .tags-list li a:hover{
    background-color: lightgray;
}

.pages-buttons {
    display: flex;

    font-size: 20px;

    width: 100%;
    margin-top: 10px;
    margin-left: 22px;
    margin-bottom: 20px;
}

.pages-buttons p {
    margin-left: 6px;
    margin-right: 6px;
}

.page-button {
    display: flex;

    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;

    border: 1px solid lightgray;
    border-radius: 4px;

    text-decoration: none;
    color: black;
}
.page-button:hover {
    background-color: rgb(229, 229, 229);
    transition: background-color 0.25s ease;
}


.white-block {
    width: 100%;
    height: 200px;
}